@charset "utf-8";
/* CSS Document */
html, body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
#traductor{
	font-family:'ubuntu', sans-serif;
color:#34495e;
position:absolute;
right:5%;
margin-top:41px;
font-weight:bold;
z-index:9000;
}
a{
	text-decoration:none;
	outline:none;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	height:auto;
	box-sizing:border-box;
}
p{
	margin:0;
	padding:0;
}
.section{
	width:100%;
	box-sizing:border-box;
	position:relative;
	height:auto;
}
/* este es el boton de bajar que se mueve solo */
#bajar{
	width:60px;
	height:60px;
	border-bottom:3px #333 solid;
	border-right:3px #333 solid;
	z-index:100;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transition:all 1s;
	cursor:pointer;
	border-radius:3px;
	bottom:5%;
	margin-left:auto;
	margin-right:auto;

}
#desplazar{
width:100%;
height:auto;
position:absolute;
	-webkit-animation:flecha 1s infinite linear;
	-moz-animation:flecha 1s infinite linear;
	animation:flecha 1s infinite linear;
	-o-animation:flecha 1s infinite linear;
	z-index:9999;
top:80%;
text-align:center;
}
@-webkit-keyframes flecha{
0%{top:80%;}
50%{top:83%;}
100%{top:80%;}}
@keyframes flecha{
	0%{top:80%;}
50%{top:83%;}
100%{top:80%;}}
@-moz-keyframes flecha{
	0%{top:80%;}
50%{top:83%;}
100%{top:80%;}}
@-o-keyframes flecha{
	0%{top:80%;}
50%{top:83%;}
100%{top:80%;}
}
/*hasta aqui el boton de bajar */




/*LOBBY*/


#lobby{
	background-image:url("imagenes/imagenlobby13.jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:100%;
	min-height:500px;
	display:table;
	/*background-attachment:fixed !important;*/
/*	-webkit-animation:mover 10s infinite;*/
}
/*@-webkit-keyframes mover{ ESTA ES LA ANIMACION PARA CAMBIAR EL FONDO DEL INICIO
	0%{background-image:url("imagenes/imagenlobby13.jpg");}
	45%{background-image:url("imagenes/imagenlobby13.jpg");}
	50%{background-image:url("imagenes/imagenlobby13.png");}
	90%{background-image:url("imagenes/imagenlobby13.png");}
	100%{background-image:url("imagenes/imagenlobby13.jpg");}
	
	}*/

#l_lista{
	padding-top:20px;
	padding-left:20px;
	box-sizing:border-box;
	position:absolute;
}
#l_inicio{
	border:2px #34495e solid;
}
/* estos son el div y el p para poder usar vertical align en los elementos del menu de inicio*/
#l_padrelemenu{
	display:table;
	width:100%;
	height:100%;
}
#l_hijoelemenu{
	display:table-cell;
	vertical-align:middle;
}
/* hasta aqui lo del vertical align*/
.l_elementmenu{
	width:8%;
	display:inline-block;
	text-align:center;
	min-width:100px;
	font-size:13px;
	font-weight:bold;
	height:50px;
	box-sizing:border-box;
	margin-top:5px;
	color:#34495e;
		font-family:'ubuntu', sans-serif;
}
#l_menuresponsive{
	display:none;
	height:50px;
	box-sizing:border-box;
}
#l_menuresponsive2{
	display:none;
	width:100%;
	height:50px;
	color:white;
	font-size:20px;
	font-weight:bold;
	font-family:aharoni;
	box-sizing:border-box;
	padding-top:15px;
}
@media only screen and (max-width:800px){
	.l_elementmenu{
		opacity:0;
		margin-top:0;
		transition:all 0.3s;
	}
	#n_aboutus div{
	float:none !important;
	width:90% !important;
	margin-top:10% !important;
	}
	.n_integrante{
		height:500px !important;
	}
	.p_trabajo{
			border:1px silver solid;
	}
	#l_services{
		margin-top:15% !important;
	}
	#l_inicio{
		display:none !important;
	}
	#l_lista{
		box-sizing:border-box;
		height:50px;
		padding-top:0;
		text-align:center;
		padding-left:0;
		background:#34495e;
		transition:all 0.5s;
		overflow:hidden;
	}
	ul #l_menuresponsive{
		text-align:left;
		margin-left:5%;
		padding-top:15px;
	}
	#l_menuresponsive{
		display:block;
		font-family:aharoni;
		font-size:20px;
		color:white;
		margin:0;
		padding:0;
	}
	#l_lista:target .l_elementmenu{
		display:block;
		opacity:1;
		margin-left:auto;
		margin-right:auto;
		color:white;
		width:100%;
		margin-top:5px;
		
		font-size:20px;
		border-top:1px silver solid;
		border-bottom:1px silver solid;
	}
	#l_lista:target{
		height:100%;
		background:#34495e; /*este es el background del menu cuando la pantalla es pequeña yle das a menu*/
		z-index:99999;
	}
	#l_lista:target #l_inicio{
		border-left:none;
		border-right:none;
		margin-top:25px;
	}
	#l_lista:target #l_menuresponsive2{
		display:block;
	}
	#l_lista:target #l_menuresponsive{
		display:none;
	}
	#traductor{
		color:white;
		margin-top:15px;
	}
	.n_integrante{
		height:600px;
	}
}
#l_titulo{
	text-align:center;
	margin-top:10%;
	display:table-cell;
	vertical-align:middle;
}
/*#l_nombrempresa{
	color:#34495e;
	font-weight:bold;
	font-size:22px;
	font-family:aharoni;
}*/
#l_tituloprincipal{
	color:#34495e;
	font-size:78px;
	font-family:'ubuntu', sans-serif;
	font-weight:bold;
}
#l_subtitulo{
	color:#34495e;
	font-size:20px;
	font-weight:bold;
	font-family:Aharoni;
	}

/*SERCIVIOS*/
#servicios{
	text-align:center;
}
#sv_listaservicios{
	height:100%;
	text-align:center;
	margin-bottom:2%;
}
.sv_servofrecido{
	display:inline-block;
	width:300px;
	height:450px;
	margin-left:3%;
	margin-right:3%;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
	background-size:cover;
	cursor:pointer;
	/*border:1px solid silver;*/
}
.sv_servofrecido:hover .sv_imagen{
	opacity:0.7;
}
.sv_servofrecido:hover .sv_descripcionservicio{
	color:#069;
}
.sv_servofrecido:hover #sv_serviname{
	color:#069;
}
/*este es el titulo de cada seccion como son todos iguales lo hice algo general */
.titulo{

	font-family:'ubuntu', sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#34495e;
	width:205px;
	padding-bottom:1%;
	border-bottom:1px #A2A2A2 solid;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:1%;
}
.sv_imagen{
	width:150px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	transition:all 0.4s;
	margin-top:10px;
}
#sv_serviname{
	font-size:22px;
	font-family:'ubuntu', sans-serif;
	color:#34495e;
	margin:10%;
	transition:all 0.4s;
	font-weight:bold;
}
.sv_descripcionservicio{
	color:#333;
	transition:all 0.2s;
	height:55%;
	overflow:auto;
	font-family:'ubuntu', sans-serif;
	margin-left:5px;
	margin-right:5px;
}

/*PORTFOLIO*/

#portfolio{
	background:#F4F4F4;
	border-bottom:1px #D8D8D8 solid;
	border-top:1px #D8D8D8 solid;
}
#p_works{
	width:230px;
}
#p_listatrabajos{
	text-align:center;
	margin-bottom:8%;
}
.p_trabajo{
	display:inline-block;
	width:250px;
	height:400px;
	margin-left:5%;
	margin-right:5%;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
	background-size:cover;
	cursor:pointer;
	min-width:100px;
}
.p_caratrabajo{
	width:100%;
	height:100%;
	background:rgba(41, 108, 255, 0.95);
	text-align:center;
	opacity:0;
	transition:all 0.5s;
	position:relative;
	color:white;
	font-size:18px;
	font-family:'ubuntu', sans-serif;
	display:table;
}
.p_caratrabajo p{
	display:table-cell;
	vertical-align:middle;
}
.p_trabajo:hover .p_caratrabajo{
	
	opacity:1;
}

/* NOSOTROS*/
/*#n_aboutusdescripcion{   esto era cuando meet the team tenia una descripcion
	padding-left:10%;
	padding-right:10%;
	color:#8C8C8C;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:20px;
	text-align:justify;
}*/
#n_aboutus{
	width:100%;
}
#n_aboutus div{
float:left;
font-size:18px;
font-family:'ubuntu', sans-serif;
color:#353535;
text-align:justify;
margin-left:5%;
margin-right:5%;
margin-bottom:5%;
margin-top:5%;
width:40%;
}
	
#n_listaequipo{
	text-align:center;
	margin-bottom:8%;
}
.n_integrante{
	width:250px;
	height:450px;
	/*background-image:url("imagenes/male.png");*/
	background-size:cover;
	display:inline-block;
	margin-left:3%;
	margin-right:3%;
	margin-top:30px;
	margin-bottom:40px;
		-webkit-perspective:800;
		 perspective:800px;
	-moz-perspective:800;
	-o-perspective:800;
	font-family:'ubuntu', sans-serif;
	text-align:left;
	box-sizing:border-box;
	
}
.n_fotointegrante2{
		/*background-image:url("imagenes/foto.jpg");*/
}

/* EFECTOS DE LA CARTA EN NOSOTROS */
#frontface{
	position:absolute;
	width:100%;
	height:100%;
	border:1px silver solid;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	transition:all 1s;
	background-size:cover;
	background-position:center;
	box-sizing:border-box;
}
#backface{
	position:absolute;
	width:100%;
	height:100%;
/*background:rgba(41, 108, 255, 0.85);*/
/*background:rgba(41, 108, 255, 0.9);*/
background:#F4F4F4;
	box-sizing:border-box;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	font-size:16px;
	font-family:'ubuntu', sans-serif;
	color:black;
	 z-index:5;
	transition:all 1s;
	/*opacity:0;*/
		-webkit-transform:rotateY(-180deg);
		-moz-transform:rotateY(-180deg);
		-o-transform:rotateY(-180deg);
		transform:rotateY(-180deg);
			-webkit-backface-visibility:hidden;
			backface-visibility:hidden;
			-moz-backface-visibility:hidden;
			-o-backface-visibility:hidden;
			
}
.n_integrante:hover #frontface{
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	}
.n_integrante:hover #backface{
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
	-moz-transform:rotateY(0deg);
	-o-transform:rotateY(0deg);
	
	/*opacity:1;*/
}

/*FOOTER*/


#footer{
	width:100%;
	height:auto;
	position:relative;
	box-sizing:border-box;
	background:#525252;
	padding-top:3%;
}
#f_lista{
	list-style:none;
	margin-bottom:5%;
	position:relative;
	height:auto;
	width:100%;
	
}
#f_dircompany{
		margin-left:6%;
		display:inline-block;
		margin-right:6%;
}
#f_formulario{
margin-left:10%;
display:inline-block;
text-align:center;
box-sizing:border-box;
margin-right:10%;
width:300px;
}
#f_user{
	font-size:40px;
		color:white;
		font-family:'ubuntu', sans-serif;
		font-weight:bold;
}
#f_companyname{
		font-size:40px;
		color:white;
			font-family:'ubuntu', sans-serif;
			font-weight:bold;
}
/*#f_slogan{
	color:white;
	font-size:18px;
	font-family:DejaVu Sans Light;
}*/
#f_contactenos{
		font-size:40px;
		color:white;
		font-family:'ubuntu', sans-serif;
		margin-top:10%;
		font-weight:bold;
}
#f_datoscontactos{
	color:white;
	font-size:20px;
	font-family:'ubuntu', sans-serif;
}
#f_mail{
	font-size:20px;
	color:#16a085;
	font-family:'ubuntu', sans-serif;
}
#f_menuabajo{
	width:100%;
	margin-top:15%;
}
.f_elemenmenudown{
	text-decoration:none;
	color:white;
	font-size:16px;
	font-family:'ubuntu', sans-serif;
	display:inline-block;
	margin-left:5%;
}
#f_menos{
	margin-left:0;
}
#f_derechos{
	background:#272727;
	width:100%;
	height:100px;
	color:white;
	padding-left:6%;
	padding-top:2%;
	box-sizing:border-box;
	position:relative;
}
#f_terminos{
	font-size:13px;
	font-family:'ubuntu', sans-serif;
}
#f_final{
	font-size:14px;
	font-family:'ubuntu', sans-serif;
}
/* de aqui para abajo son los input del formulario*/

input{
	outline:none;
	border:none;
	width:100%;
	height:30px;
	color:#333;
	font-size:16px;
	padding-left:10px;
	box-sizing:border-box;
	overflow:auto;
	border-radius:1px;
	box-shadow:0px 2px 3px #333;
}
textarea{
	outline:none;
	width:100%;
	overflow:auto;
	height:100px;
	color:#333;
	font-size:16px;
	box-sizing:border-box;
	padding-left:10px;
	border-radius:1px;
	box-shadow:0px 2px 3px #333;
}
#f_botonenviar{
	font-family:'ubuntu', sans-serif;
	font-weight:bold;
}
@media only screen and (max-width:400px){
#f_formulario{
	width:80%;
}
input{
	width:100%;
}
textarea{
	width:100%;
}
}
textarea:focus{
	color:white;
	background:#333;
}
input:focus{
	background:#333;
	color:white;
	outline:1px #999 solid;
}
/*button{
	border:none;
	width:100px;
	height:45px;
	font-size:18px;
	background:#3498db;
	color:white;
	font-weight:bold;
}*/
::-webkit-input-placeholder{ /*forma de cambiar el formato del placeholder de un input*/
	font-family:'ubuntu', sans-serif;
	color:#6F6F6F;
}

/*hasta aqui los input del formulario*/



#IrArriba{

	height:50px;
	width:50px;
	text-align:center;
	z-index:100;
	right:2%;
	position:fixed;
	bottom:5%;

}
#IrArriba span {
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background-image:url("imagenes/arrow.png");
background-size:cover;
border-radius:100%;
}








